<body class="blue-grey darken-4">
  <div class="parallax-container">
    <div class="parallax"><%=image_tag("stock-photo-.jpg")%></div>
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Agrognome</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%=link_to" <i class='material-icons left'>fingerprint</i>Login".html_safe%></li>
          <li><%=link_to" <i class='material-icons left'>assignment</i>Registrate.!".html_safe%></li>
        </ul>
      </div>
    </nav>
    <h1 class="center h1_header">¡Agrognome!</h1>
    <h3 class="center h3_header">Sabemos la importancia de la organización</h3>
    <h3 class="center h3_header">y los buenos procesos en tu finca</h3>
  </div>
  <div class="container container2">
    <div class="row">
      <div class="col s4 center">
        <%=image_tag("bull_icon.png", :class => "circle z-depth-4")%>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorum labore nesciunt, quidem recusandae unde? Ab animi consectetur eligendi quibusdam quo veritatis! Accusamus consequatur dolorum, itaque minus optio quam vel.</p>
      </div>
      <div class="col s4 center">
        <%=image_tag("cash_icon.png", :class => "circle z-depth-4")%>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur corporis, cupiditate, deleniti dolorum error exercitationem facilis impedit, in magnam maiores non nulla provident quam sed totam voluptatibus. Atque, nostrum.</p>
      </div>
      <div class="col s4 center">
        <%=image_tag("receipt_icon.png", :class => "circle z-depth-4")%>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, animi doloremque eius, esse et inventore ipsa iure magni neque non nulla officiis perspiciatis, porro praesentium quasi quo quod soluta?</p>
      </div>
    </div>
  </div>
</body>